[submodule "andys.frontend"]
	path = andys.frontend
	url = git@github.com:aistomin/andys.frontend.git
[submodule "andys.backend"]
	path = andys.backend
	url = git@github.com:aistomin/andys.backend.git
[submodule "andy.grails.backend"]
	path = andy.grails.backend
	url = git@github.com:aistomin/andy.grails.backend.git
[submodule "andy.grails.frontend"]
	path = andy.grails.frontend
	url = git@github.com:aistomin/andy.grails.frontend.git
