[submodule "andy.grails.backend"]
	path = andy.grails.backend
	url = git@github.com:aistomin/andy.grails.backend.git
[submodule "andy.grails.frontend"]
	path = andy.grails.frontend
	url = git@github.com:aistomin/andy.grails.frontend.git
